.file-object-window {
    height: 100%;
    width: 100%;
}
.file-upload-breadcrumbs {
    width: 100%;
    height: 10%;
}
.file-breacrumbs {
    height: 100%;
    width: 90%;
    padding: 0 3%;
}
.file-upload-button {
    height: 100%;
    width: 10%;
}
.file-explorer-container {
    width: 100%;
    height: 90%;
    padding: 2% 0;
}
.path {
    padding: 2px 4px;
    cursor: pointer;
}