.menubar {
    height: 100%;
    width: 100%;
}
.menu-item {
    height: 10%;
    width: 100%;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 0 5%;
}
.menu-item:hover {
    background-color: rgb(163, 157, 157);
}
.active-menu-item {
    background-color: rgb(124, 98, 98);
}
a {
    text-decoration: none;
}