<div class="menubar flex flex-start flex-col">
    <a title="Applications" routerLink="/applications" class="flex flex-se menu-item" >
        <span class="material-icons">
            arrow_back
        </span>
        <!-- <a>Applications</a> -->
    </a>
    <a [routerLink]="menu.link" class="flex flex-se menu-item" routerLinkActive="active-menu-item"  *ngFor="let menu of menuOptions" [title]="menu.view">
        <span class="material-icons">
            {{menu.icon}}
        </span>
        <!-- <a>{{menu.view}}</a> -->
    </a>
</div>