<div class="profile-section">
    <div class="profile-form">
        <form class="flex flex-col flex-sb">
            <div class="form-control">
                <label for="usernmae">Username:</label>
                <input appThemedInp autocomplete="off" id="username">
            </div>
            <div class="form-control">
                <label for="mailId">Email: </label>
                <input appThemedInp autocomplete="off" id="mailId">
            </div>
            <button appThemedBtn type="submit">Save Changes</button>
        </form>
    </div>
</div>