<div class="header flex flex-sb" 
    [class.dark-mode-header]="appSettingsService.isDarkModeEnabled()" [class.light-mode-header]="!appSettingsService.isDarkModeEnabled()">
    <h2 class="app-name">{{appSettingsService.getAppName()}}</h2>
    <div class="user-section flex flex-sb">
        <button routerLink="/accounts/settings/profile">Hello {{authUser.name}}</button>
        <button (click)="logoutUser()" class="material-icons">
            logout
        </button>
        <button *ngIf="!appSettingsService.isDarkModeEnabled()" (click)="appSettingsService.toggleAppTheme()" class="material-icons">
            dark_mode
        </button>
        <button *ngIf="appSettingsService.isDarkModeEnabled()" (click)="appSettingsService.toggleAppTheme()" class="material-icons">
            light_mode
        </button>
    </div>
</div>