<div class="header flex flex-sb" 
    [class.dark-mode-header]="appSettingsService.isDarkModeEnabled()" [class.light-mode-header]="!appSettingsService.isDarkModeEnabled()">
    <h2 class="app-name">{{appSettingsService.getAppName()}}</h2>
    <div class="user-section flex flex-sb">
        <span routerLink="/accounts/settings/profile">Hello {{authUser.name}}</span>
        <span (click)="logoutUser()" class="material-icons">
            logout
        </span>
        <span *ngIf="!appSettingsService.isDarkModeEnabled()" (click)="appSettingsService.toggleAppTheme()" class="material-icons">
            dark_mode
        </span>
        <span *ngIf="appSettingsService.isDarkModeEnabled()" (click)="appSettingsService.toggleAppTheme()" class="material-icons">
            light_mode
        </span>
    </div>
</div>