.header {
    width: 100%;
    height: 100%;
    padding: 0 2%;
}
.user-section {
    width: 15%;
}
.dark-mode-header {
    background-color: black;
    color: white;
}
.light-mode-header {
    background-color: blue;
    color: white;
}