html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
.flex {
    display: flex;
    align-items: center;
}
.flex-start {
    justify-content: flex-start;
}
.flex-se {
    justify-content: space-evenly;
}
.flex-sb {
    justify-content: space-between;
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
* {
    box-sizing: border-box;
    margin: 0;
}
a {
    color: inherit;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: gray;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(212, 167, 167);
    border-radius: 5px;
}