.file-objects-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    align-items: flex-start;
}
.file-object {
    width: 10%;
    height: 30%;
}
.file-object form {
    height: 100%;
    width: 100%;
}
.file-object input {
    width: 90%;
}
.add-folder-icon {
    font-size: 3em;
}