<div class="collections-list flex flex-col flex-wrap">
    <div (click)="selectCollection(collection)" class="collection flex flex-se" [class.selected-collection]="selectedCollection == collection" *ngFor="let collection of collections">
        <p>{{collection}} </p>
    </div>
    <div class="collection flex flex-se">
        <button appThemedBtn *ngIf="!inNewCollectionMode" (click)="inNewCollectionMode = true">Add collection</button>
        <div class="flex flex-se" *ngIf="inNewCollectionMode">
            <input appThemedInp placeholder="Collection name" [(ngModel)]="newCollectionName">
            <button appThemedBtn (click)="addCollection()">Save</button>
            <button appThemedBtn isWarning="true" (click)="inNewCollectionMode = false">Cancel</button>
        </div>
    </div>
</div>