<div class="change-password-section">
    <div class="change-password-form">
        <form class="flex flex-col flex-sb">
            <div class="form-control">
                <label for="oldPassword">Old Password:</label>
                <input autocomplete="off" id="oldPassword">
            </div>
            <div class="form-control">
                <label for="newPassword">New password: </label>
                <input autocomplete="off" id="newPassword">
            </div>
            <div class="form-control">
                <label for="newConfirmPassword">Confirm New password: </label>
                <input autocomplete="off" id="newConfirmPassword">
            </div>
            <button appThemedBtn type="submit">Save Changes</button>
        </form>
    </div>
</div>