<div class="change-password-section">
    <div class="change-password-form">
        <form [formGroup]="changePasswordForm" (ngSubmit)="submitData()" class="flex flex-col flex-sb">
            <div class="form-control">
                <label for="oldPassword">Old Password:</label>
                <input type="password" formControlName="oldPassword" appThemedInp autocomplete="off" id="oldPassword">
                <p *ngIf="oldPswdControl?.errors && oldPswdControl?.touched && oldPswdControl?.errors?.required">Old password required</p>
                <p *ngIf="oldPswdControl?.errors && oldPswdControl?.touched && oldPswdControl?.errors?.weakPassword">Weak password !</p>
            </div>
            <div class="form-control">
                <label for="newPassword">New password: </label>
                <input type="password" formControlName="newPassword" appThemedInp autocomplete="off" id="newPassword">
                <p *ngIf="newPswdControl?.errors && newPswdControl?.touched && newPswdControl?.errors?.required">New password required</p>
                <p *ngIf="changePasswordForm?.errors && newPswdControl?.touched && changePasswordForm?.errors?.passwordsDoNotMatch">Passwords not matching !</p>
                <p *ngIf="newPswdControl?.errors && newPswdControl?.touched && newPswdControl?.errors?.weakPassword">Weak password !</p>
            </div>
            <div class="form-control">
                <label for="newConfirmPassword">Confirm New password: </label>
                <input type="password" formControlName="newConfirmPassword" appThemedInp autocomplete="off" id="newConfirmPassword">
                <p *ngIf="newConfirmPswdControl?.errors && newConfirmPswdControl?.touched && newConfirmPswdControl?.errors?.required">Confirm password required</p>
                <p *ngIf="changePasswordForm?.errors && newConfirmPswdControl?.touched && changePasswordForm?.errors?.passwordsDoNotMatch">Passwords not matching !</p>
                <p *ngIf="newConfirmPswdControl?.errors && newConfirmPswdControl?.touched && newConfirmPswdControl?.errors?.weakPassword">Weak password !</p>
            </div>
            <button appThemedBtn type="submit">Save Changes</button>
        </form>
    </div>
</div>