.change-password-section {
    width: 100%;
    height: 100%;
    padding: 4%;
}
.change-password-form {
    width: 40%;
    height: 100%;
    padding: 1% 0;
}
.change-password-form form {
    width: 100%;
    height: 100%;
    padding: 2%;
}
.form-control {
    height: 10%;
    width: 100%;
}
.form-control input {
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding: 1%;
    margin-top: 1%;
}
.form-control p {
    margin-top: 2%;
    color: red;
}