.app-shell {
    width: 100%;
    height: 100%;
    display: flex;
}
.app-menubar {
    width: 10%;
    height: 100%;
    background-color: yellow;
}
.app-placeholder {
    width: 90%;
    height: 100%;
    background-color: blue;
}