<div class="application-list">
    <div class="application-heading flex">
        <h1>Applications</h1>
    </div>
    <div class="application-card-container flex flex-start flex-wrap">
        <div class="application-card flex flex-se">
            <span class="material-icons">
                add_circle_outline
            </span>
            <p>New Application</p>
        </div>
        <div class="application-card" *ngFor="let application of applicationList">
            <app-application-card [application]="application"></app-application-card>
        </div>
    </div>
</div>