<div [class.light-mode]="!appSettingsService.isDarkModeEnabled()" [class.dark-mode]="appSettingsService.isDarkModeEnabled()" class="application-list">
    <div class="app-header">
        <app-header></app-header>
    </div>
    <div class="flex flex-se search-create-apps">
        <div class="flex flex-ar" *ngIf="!inCreateAppMode">
            <input *ngIf="applicationList.length > 0" autofocus placeholder="Search apps">
            <button *ngIf="! inCreateAppMode" (click)="inCreateAppMode = true;" class="create-app flex flex-se">
                <span class="material-icons">
                    add_circle_outline
                </span>
                <p>Application</p>
            </button>
        </div>
        <div class="flex flex-ar" *ngIf="inCreateAppMode">
            <input autofocus [(ngModel)]="appName" placeholder="Application name"/>
            <button [disabled]="inProgress" (click)="createApp()">Create</button>
            <button [disabled]="inProgress" (click)="inCreateAppMode = false">Cancel</button>
        </div>
    </div>
    <div class="application-table-container flex flex-start flex-col">
        <div class="application-table flex flex-se">
            <table *ngIf="applicationList?.length > 0; else noApps">
                <tr *ngFor="let app of applicationList">
                    <td>{{app._id}}</td>
                    <td>{{app.name}}</td>
                    <td>{{app.created_on | date}}</td>
                    <td>
                        <button (click)="viewApp(app['_id'])">
                            View
                        </button>
                    </td>
                </tr>
            </table>
            <ng-template #noApps>
                No Apps created.
            </ng-template>
        </div>
    </div>
</div>