.application-list {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}
.app-header {
    height: 7%;
    width: 100%;
}
.application-heading {
    height: 10%;
    width: 100%;
    padding: 0 2%;
}
.search-create-apps {
    height: 10%;
    width: 100%;
    padding: 10px;
}
.search-create-apps > div {
    height: 100%;
    width: 30%;
}
.search-create-apps button, input {
    padding: 3px;
    border-radius: 5px;
    height: 100%;
}
.application-card-container {
    height: 73%;
    width: 100%;
    overflow-y: auto;
}
.application-card {
    width: 14%;
    height: 28%;
    margin: 2%;
    background-color: blue;
    border-radius: 5px;
}