<div [class.light-mode]="!appSettingsService.isDarkModeEnabled()" [class.dark-mode]="appSettingsService.isDarkModeEnabled()" class="application-list">
    <div class="flex flex-se search-create-apps">
        <div class="flex flex-ar" *ngIf="!inCreateAppMode">
            <input (input)="searchApps($event.target.value)" appThemedInp *ngIf="applicationList.length > 0" autofocus placeholder="Search apps">
            <button appThemedBtn *ngIf="! inCreateAppMode" (click)="inCreateAppMode = true;" class="flex flex-se">
                <p>Add Application</p>
            </button>
        </div>
        <div class="flex flex-ar" *ngIf="inCreateAppMode">
            <input appThemedInp autofocus [(ngModel)]="appName" placeholder="Application name"/>
            <button appThemedBtn [disabled]="inProgress" (click)="createApp()">Create</button>
            <button appThemedBtn [disabled]="inProgress" isWarning="true" (click)="inCreateAppMode = false">Cancel</button>
        </div>
    </div>
    <div class="application-table-container flex flex-start flex-col">
        <div class="application-table flex flex-se">
            <table *ngIf="filteredAppList?.length > 0; else noApps">
                <tr>
                    <th>App ID</th>
                    <th>Name</th>
                    <th>Created On</th>
                    <th>
                       Action
                    </th>
                </tr>
                <tr *ngFor="let app of filteredAppList">
                    <td>{{app._id}}</td>
                    <td>{{app.name}}</td>
                    <td>{{app.created_on | date}}</td>
                    <td>
                        <button appThemedBtn (click)="viewApp(app['_id'])">
                            View
                        </button>
                    </td>
                </tr>
            </table>
            <ng-template #noApps>
                No Apps found.
            </ng-template>
        </div>
    </div>
</div>